
<div id="courses" class="itemPanel" ng-controller="coursesController" ng-cloak>
  <h2 class="colHeader">Courses {{term}} {{year}} 
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle pull-right" data-toggle="dropdown">
        Terms <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" ng-controller = "termsController" ng-cloak>
        <li ng-repeat="term in terms"><a href='' ng-click="getTerm(term.term_id, term.term, term.year)" data-term-id="{{term.term_id}}">{{term.term}} {{term.year}}</a></li>
      </ul>
    </div>
    <div class="spinner pull-right" ng-show="loading"></div>
  </h2>


  <div>{{courses.message}}</div>
  <div>{{courses.errors.message}}</div>
  <div ng-show="courses.errors.requestUrl">We asked for
    <code>{{courses.errors.requestUrl}}</code>
  </div>
  <div ng-show="courses.errors.details">It returned this:
    <code>{{courses.errors.details}}</code>
  </div>
  <ul class="itemList">
    <li ng-repeat="item in courses | orderBy:'title'" class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1 visible-md visible-lg {{item.Source | lowercase}} iconContainer">
        </div>
        <div class="col-lg-11 col-md-11 col-xs-12">
          <strong>
            <span ng-if="item.Link">
              <a class="courseLink" href="{{item.Link}}">
                <span class="sr-only">Go to site for</span>{{item.Title}}</a>
            </span>
            <span ng-if="!item.Link">{{item.Title}}</span>
          </strong>
          <br>
          <small>
            {{item.Subtitle}}
          </small>
          <div ng-show="item.Instructor" class="instructorsInfo">
            <div ng-if="item.Instructor.length">
              <div ng-repeat="instructor in item.Instructor | orderBy:'Role' | limitTo:1">
                <small>
                  {{instructor.Name | fixInstructorName }} (<a class="mailTolink" href="mailto:{{instructor.Email  | lowercase}}">{{instructor.Email  | lowercase}}</a>)
                  <span class="visible-md-inline visible-lg-inline">{{instructor.Role}}</span> <a ng-show="item.Instructor.length > 1" href="#" class="showMoreInstructors">(more)</a>
                </small>
              </div>
              <div class="moreInstructors" style="display:none">
                <div ng-repeat="instructor in item.Instructor | orderBy:'Role'" ng-show="!$first">
                  <small>
                    {{instructor.Name | fixInstructorName }} (<a class="mailTolink" href="mailto:{{instructor.Email  | lowercase}}">{{instructor.Email  | lowercase}}</a>)
                    <span class="visible-md-inline visible-lg-inline">{{instructor.Role}}</span>
                  </small>
                </div>
              </div>
            </div>
            <div ng-hide="item.Instructor.length">
              <small>
                {{item.Instructor.Name | fixInstructorName}} (<a class="mailTolink" href="mailto:{{item.Instructor.Email  | lowercase}}">{{item.Instructor.Email  | lowercase}}</a>)
              </small>
            </div>
          </div>
          <div ng-hide="item.Instructor">
            <small>
              Staff
            </small>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <p ng-show="courses.canvas || courses.ctools">Looking for upcoming assignments, events and activity across your courses? Checkout
    <span ng-show="courses.ctools">the <a href="https://ctools.umich.edu/portal">Ctools Dashboard</a>
    </span>
    <span ng-show="courses.canvas">
      <span ng-show="courses.canvas && courses.ctools">or</span> <a href="https://umich.instructure.com/">Canvas home.</a>
    </span>
  </p>
  <p ng-show="!courses.canvas && !courses.ctools">It looks like none of your classes are using web sites we know of. Do you want to check out the <a href="https://ctools.umich.edu/portal">Ctools Dashboard</a> or <a href="https://umich.instructure.com/">Canvas home?</a>
    </span>
  </p>



</div>