<div ng-controller = "termsController" ng-cloak>
  <div id="courses" class="itemPanel">
    <h3 class="colHeader"> <span class="sr-only">{{lang.panelTitle}}</span>
      <div class="btn-group pull-right" id="termMenu" ng-hide="terms.length===0">
        <small class="visible-xs-inline visible-lg-inline">{{shortDescription}}&nbsp;&nbsp;</small>
        <small class="visible-sm-inline visible-md-inline">{{term}}&nbsp;&nbsp;</small>
        <button type="button" class="btn btn-sm btn-default dropdown-toggle pull-right" data-toggle="dropdown">
          Terms <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="menuitem" ng-repeat="term in terms"><a href='' ng-click="getTerm(term.TermCode, term.TermDescr, term.TermShortDescr)" data-term-id="{{term.TermCode}}">{{term.TermDescr}}</a></li>
        </ul>
      </div>
      <div class="spinner pull-right" ng-show="loading"></div>
    </h3>
    <div class="alert alert-info" ng-show="error">{{error}}</div>
    <div>{{courses.message}}</div>
    <img class="errorImg" ng-show="courses.errors.message" src="images/error-small.png">
    <div>{{courses.errors.message}}</div>

    <ul class="itemList">
      <li ng-repeat="item in courses | orderBy:'title'" class="container-fluid">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 visible-md visible-lg visible-sm {{item.Source | lowercase}} iconContainer">
          </div>
          <div class="col-lg-11 col-md-11 col-xs-11">
            <strong>
              <span ng-if="item.Link">
                <a target="_blank" href="{{item.Link}}">
                  <span class="sr-only">Go to site for</span>{{item.Title}} {{item.SectionNumber}}</a>
              </span>
              <span ng-if="!item.Link">{{item.Title}} {{item.SectionNumber}}</span>
            </strong>
            <br>
            <small>
              {{item.Subtitle}} {{item.SectionNumber}}
            </small>
            <div ng-show="item.Instructor" class="instructorsInfo">
              <div ng-if="item.Instructor.length">
                <div ng-repeat="instructor in item.Instructor | orderBy:'RoleCode' | limitTo:1">
                  <small>
                    {{instructor.Name | fixInstructorName }} (<a class="mailTolink" href="mailto:{{instructor.Email  | lowercase}}">{{instructor.Email  | lowercase}}</a>)
                    <span class="visible-md-inline visible-lg-inline">{{instructor.Role}}</span> <a ng-show="item.Instructor.length > 1" href="#" class="showMoreInstructors">(more)</a>
                  </small>
                </div>
                <div class="moreInstructors" style="display:none">
                  <div ng-repeat="instructor in item.Instructor | orderBy:'RoleCode'" ng-show="!$first">
                    <small>
                      {{instructor.Name | fixInstructorName }} (<a class="mailTolink" href="mailto:{{instructor.Email  | lowercase}}">{{instructor.Email  | lowercase}}</a>)
                      <span class="visible-md-inline visible-lg-inline">{{instructor.Role}}</span>
                    </small>
                  </div>
                </div>
              </div>
              <div ng-hide="item.Instructor.length">
                <small>
                  {{item.Instructor.Name | fixInstructorName}} (<a class="mailTolink" href="mailto:{{item.Instructor.Email  | lowercase}}">{{item.Instructor.Email  | lowercase}}</a>)
                </small>
              </div>
            </div>
            <div ng-hide="item.Instructor">
              <small>
                Staff
              </small>
            </div>
            <div ng-if="item.Meeting">
              <div class="row" ng-repeat="Meeting in filteredDays = (item.Meeting | showMeetingIfNow) | orderBy:'DayCode'" ng-show="filteredDays.length > 0">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left:0;"><small>{{Meeting.Days | fixMeetingDays}} {{Meeting.Times}}</small><small ng-show="!Meeting.Days">Days/Times not known</small></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:0;text-align:right"><small>({{Meeting.Location}})</small></div>
              </div>
              <div class="row" ng-show="filteredDays.length === 0">
                <div ng-hide="showAllMeetings" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0"><small><a href="" ng-click="showAllMeetings = true">No meetings now. Show all meetings for term?</a></small></div>
                <div ng-hide="!showAllMeetings" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0"><small><a href="" ng-click="showAllMeetings = false">Hide all meetings?</a></small></div>
              </div>
              <div class="row" ng-repeat="Meeting in item.Meeting | orderBy:'Meeting.StartDate'" ng-show="filteredDays.length === 0 && showAllMeetings">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left:0;"><small>{{Meeting.StartDate | limitTo : 5}}-{{Meeting.EndDate | limitTo : 5}}: {{Meeting.Days | fixMeetingDays}} {{Meeting.Times}}</small><small ng-show="!Meeting.Days">Days/Times not known</small></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:0;text-align:right"><small>{{Meeting.Location}}</small></div>
              </div>
            </div>
        </div>
      </li>
    </ul>
    <div ng-hide="loading" class="itemPanelFooter">
      <p> {{lang.lookAtOtherDashes}} 
        <span><a href="{{lang.ctoolsUrl}}">{{lang.ctoolsName}}</a></span>
        <span>or</span> <a href="{{lang.canvasUrl}}">{{lang.canvasName}}.</a></span>
      </p>
    </div>
   
  </div>
</div>