
	<h2>Points of Integration</h2>
     The exact points of integration will vary depending on the current application configuration.  This section of the status
	page describes the integrations at a high level and does not contain explicit links to the exact service configuration used by this server.
	<ul>

		<li><strong>Canvas</strong>: The Canvas API is used by this
			application to looks up the Canvas assignments for the student. The Canvas API request used to get the information is:
			<i>/users/self/calendar_events</i>.  Information on the Canvas API is available <a
		href="https://umich.instructure.com/doc/api/live">here</a>.
		</li>

		<li><strong>MPathways</strong>: Term and course information is obtained from MPathways via the ESB StudentDashboard API.
			The Student Dashboard API queries used are: <i>/Students/#{uniqname}/Terms/#{termid}/Schedule</i> and <i>
			/Students/#{uniqname}/Terms</i>. An API console for the ESB is available <a href="https://api-dev.dsc.umich.edu/store/">here</a>.
		</li>

		<li><strong>CTools</strong>: Dash uses the CTools/Sakai Direct API to get information
			on assignments from the CTools dashboard and Test Center (Mneme).   The Direct API queries used are:
			<i>/direct/dash/calendar.json</i> for both current and past assignments</i> and <i>/direct/mneme/my.json</i>. The Direct API is self-described <a
		href="https://ctools.umich.edu/direct/describe">here</a>.
		</li>

	</ul>

