<div ng-cloak ng-controller="scheduleController">
    <div id="schedule" class="itemPanel">
      <h3 class="colHeader"><span class="sr-only">Schedule</span>
        <div class="pull-right">
          <small>{{showWhen | headerText}}</small>
          <div class="btn-group">
            <div class="btn-group btn-group-sm">
              <div class="dropdown pull-right">
                  <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Show
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li ng-repeat="item in schedule_time_options" role="presentation">
                        <a ng-click="setWhen(item.value)" role="menuitem" tabindex="-1" href="#">{{item.name}}</a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
      </h3>
      <div ng-show="loadingSchedule" class="row loadingBox">
         <div class="spinner col-lg-2 col-md-2 col-xs-2">
         </div>
         <div class="col-lg-10 col-md-10 col-xs-10">
          Getting schedule info from CTools and Canvas...
         </div>
      </div>

      <div class="alert alert-info" ng-show="!filteredItems.length  && !loadingSchedule">
        <span ng-show="schedule.length !==0">{{showWhen | noItemsFoundForTime}}</span>
        <span ng-show="schedule.length ===0 && !termError">No items due in CTools or Canvas.</span>
        <span ng-show="schedule.length ===0 && termError">{{lang.scheduleTermFailure}}</span>
      </div>
      <ul class="itemList">
          <li ng-repeat="item in filteredItems  = (schedule | filter:showWhen) | orderBy:'due_date_sort'" class="container-fluid" ng-hide="item.when !== showWhen">
              <div class="row">
                  <div class="col-lg-1 col-md-1 col-xs-1 {{item.contextLMS}} iconContainer">
                  </div>
                  <div class="col-lg-7 col-md-7 col-xs-7">
                    <a target="_blank" href="{{item.link}}" class="assigLink{{item.contextLMS}}">{{item.title  | cut:true:30:'...'}} <span class="sr-only"> (opens in a new page)</span></a>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date {{item.when}}" ng-class="{'late':item.late}">
                      <small class="dateSpan">
                        <span  ng-show="item.due_date_sort && item.when !=='today'">{{item.due_date_medium}}</span>
                        <span  ng-show="item.due_date_sort && item.when ==='today'"><a href="" ng-click="showTime = !showTime">{{item.due_date_sort | dateUntil}} </a></span>
                      </small>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-1 col-xs-1 iconContainer">
                </div>
                <div class="col-lg-8 col-md-8 col-xs-8">
                  <small>
                    Go to
                    <a class="courseLink" target="_blank" href="{{item.contextUrl}}">
                      <span ng-if="item.context">{{item.context}}</span>
                      <span ng-if="!item.context">course site</span>
                    </a>
                  </small>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 date" style="text-align:right">
                    <small  ng-show="item.due_date_sort && item.when ==='today'  && showTime">{{item.due_date_time}} </small>
                </div>
              </div>
          </li>
      </ul>
      <div class="itemPanelFooter" ng-show="scheduleErrors.length">
        <div style="text-align:right"><a style="text-decoration:none" href="" ng-click="toggleFooter = !toggleFooter">?</a></div>
          <div ng-show="toggleFooter">
            <p ng-repeat="error in scheduleErrors">{{error.message}} ({{error.status}})</p>
          </div>
      </div>
    </div>
</div>
