# Configure tests.  Copy the template to a security.yml file,
# Copy the test application below, and fill in appropriate new values.

## ALWAYS MODIFY A COPY AND NEVER CHECK IN THAT COPY.

test:
 token_server: apple
 api_prefix: steve
 key: baseball
 secret: practice
 token: optional
