body {
    background-color:#444;
    background-position: 0 50px;
    background-repeat:  no-repeat;
 }

a {
    color:#039;
}
.mastHead {
    color:#fff;
}
.mastHead h1 {
    margin:0;
    margin-top:2px;
    width: 125px;
    height:40px;
    /* DASH masthead - textual logo */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAAAcCAYAAACAsYoxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowQjFCRDRERjQ4RkMxMUU1QkEzOUJENTUxNzVFRjYxMiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowQjFCRDRFMDQ4RkMxMUU1QkEzOUJENTUxNzVFRjYxMiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBCMUJENERENDhGQzExRTVCQTM5QkQ1NTE3NUVGNjEyIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBCMUJENERFNDhGQzExRTVCQTM5QkQ1NTE3NUVGNjEyIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+N3/CEgAAA+xJREFUeNrsWt1R4zAQVhjm7tUd4KsAUwFOBZerAFLBQQWJKwhUQFIBuQpsKsB0IDrwPd695KTMilsW/RolVhh2ZmHAkuXVp939du3RZrNhn7ITKYV2Qttd3Px4+7P9WnuOr0Znf5uQBTaPXxbiV+ExdMWKP0vX7YSOHNdNojZR6q1Q7rEWlmuhN445V0J/Cs3J/9ewZkOAxfs+l/tL5tUwTsnoNXCvL9okF0CcCfA6T9AmYIyPPOzYAzKwU+ql0LHFG3T7ceq4/x3cVycT0KnQZQxjjgLHy5O08AQtB2NSlMxhR+H5PwwMBo2Dd1KQFrEMOOox5xI8iXmcwGxAcBoILVK/QSiiXmV6vnMDcKbxF+TvMYTWKVk380wbOwFuC4oAL7N421VA+N2HcMgfS08vKtC8JmC8OjDckgKyIYHLTGFQgCaNmCUaIn02MUfkoiUgnFtSyF7l6B1zJ+BZqYVIl+e5CAf2HgpckYohilUqGnpiYUY6mQnw1oJlcvC2eQ/jKhRiUhDsVU9QRriAa1BqULmzI7k2PnBi4+ew8WUgcPIB74We9Q2Rau3t+mn0AgrioZyExIyAqTwT5/QZkJMkQ+WLoVBk33+gjgcGpPPwultNIV6mDpx60PyDgdYQAG0EhWu6Kve7zInHe9iMLmGy4gqTuhxWWHJ1ia6/pBFNaNXWxxovLWJ53E3g+JZFavEMREyUPHtsZgcFd0dyYu15cHP2vyVXOhoEwcD9CgRPGvL7gIArDOGRG+o83UEda3JiHftB++S4irk769txgjG2BwQaBaQ15DtXPWcCz9W3XcI8rG004ODNwNQxrME0/0Dzm47y2wp3OvaHJodNHM2BhmgXlVXCO7nKEesPTShbnBHNDOyTWYpyug/R3g70ZpXSo0T99l0TNqaqk3LAHidD5txzrCv8XSCgc5jbRgFOAFAjCmuThRi7fZMswFGvLTBrku2vNXRRFuhhjYLWXg3MQEMK5gzs4pq59HMFuU+PBPQ2lseVPU6l9LpWbHwFIHEUGrKAe6pxDwmBZvK2OdkLBVxNQuTYkBulnCRRgAvwbiBkVr6fNCQSDvFhKTTM2QWcJCjroQyJ0vISgI1DPyIaSE49iEnjIBx9QiszFPPDAncgUrLXbz46BISp1aWj7DrvpTUb5goTS1kxXKhMPCzWlm7H2nDtyXLPJ0JQFNFoEEDq64AVe/tREv8Ezo/5lZYC+dqQ31pHYc00DLEinjUxFNvR3tEp4MaB81wkpO1xz33Ufhw8rUI2nL8DuFNi752h/OEAWjQyM/pgn6CXnsSCWXJSE7BGZ/DCAmj/M3v7pRgNtRhc7vts/wQYAB/+I8o1MD2iAAAAAElFTkSuQmCC');
    background-position:10px 10px;
    background-repeat:no-repeat;
}

.navHead {
    background-color: #09274c;
    margin-bottom:10px;
    border-width:0;
    border-radius: 0    
}
.navbar .container-fluid {
    padding:0;
}

.navbar-default .navbar-nav > li > a { 
    color:#ddd;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus { 
    color:#fff;
}
.loginContainer {
    text-align:right;
    padding-top:8px;
}
.loginContainer a strong {
    background: #9d0000 none repeat scroll 0 0;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    padding: 0 8px;
}
.loginContainer a:focus strong, .loginContainer a:hover strong {
    background: #c00 none repeat scroll 0 0;
}
.navbar-nav.navbar-right:last-child {
    margin-right:0;
}
.loginContainer .btn-link, .loginContainer .btn-link:hover, .loginContainer  .btn-link:focus, .loginContainer .btn-link:active {
    color:#fff;
}
.contentWrapper {
    padding:0;
}

.contentWrapper .dashMessageContainer {
    padding:0 20px;
}
.contentWrapper .dashMessage {
    margin:25px 0;
}
.alert-plain {
    background:#fff;
    color:#000;
    border-color:#ccc;
}

#content {
 }

ul {
    padding: 1px 0 0 0;
    list-style: none;
}

.itemPanel .itemList li, .loadingBox {
    position:relative;
    margin: 5px 0;
    padding: 10px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.15);
}

.row {
    margin: 0 0 5px 0;

}

#courses .colHeader {
    /* COURSES - textual logo  ("My Courses")*/
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG8AAAAhCAYAAADXl/V8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExOTAyN0ExMDZERkFCNDQwOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1OUQ3ODg3NDM1NjMxMUU1QTc0Njg2QkE3MjQzNkI0MSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1OUQ3ODg3MzM1NjMxMUU1QTc0Njg2QkE3MjQzNkI0MSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjg3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjc3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4QhHAWAAAEi0lEQVR42uxa4XWjMAx27uX/uROUTlA6AXSC4yYomaDtBCQT9G6CphOknSBkgpAJQicINwGHr+KdosrGhLhtEvSeXggYW9Yn2ZLwoCxL0dNh0rDisOKAeTbRvBNVfEnuvVY8dSSjB2MqGSXcSyt+qTg7afQqz0tKnjzllQzPmbZzTduuHFe8KfWUOBr3IPhbg8Vz5H+QXakV4RF5G0djaHeSRMHL0XWgAVQybV3QLZHrouJBxVcVF+jZjx68N8oaPM/TAO2CInQ9ReMpGZ8/YSU4ePCwN6YO5aKALAwrhOjBew9gaPA818qTPTR2qYJgrNpHYOWfAF4TPSFvLAwBj8sVgtOFB1xYpDE+GGlmmAOdy1Zbk+dxS2fItMGkosMSeM54U4nY66C4HEBJiSxqjAc0/hyuuagVyxKi+eH7NSXoXgL9rSu+QfvzGliNuax4U3HMyP4Az5bQdgPvRYy+HslcNvArdeAtNHucR5Jy0fCub9jHckfeqyZ7x9yPGWPqksLE5P+MMcZa+XjeM5BPggelSLczAuBMA36dQrHg5RrAPI136rxWknd8x8GOTyZ/BYyfh3sCT2hSlXtIZ1LmOZavgNTnGhh7eK27EOFxRtpFbcELLMErNO+fo+uVo6QeG0cGnDbkrrvQPSh0QowyMxhnqNFTyhg4XaUKrk9dhSVlBvSQ1Zg2WJ2yXHve9w8KlpTif1kEGc7lGxoCAqz0DIGXWUwuYjzPR+AfckG5MPy/BcNUe/9Yk6O2HSNEGIxtwFsRj8vIGmyiBeOtUmx/ETgmekHGGkEwMeo4zwz0XOtvDnvexGbZxJ5xKdqVxVJmnfcN1ZJDp6nY/hwW19FgQ3A1R8zRT+SBEtr5bcHzCXg2yk+J99kEO4dMo5YA1tFkaIiAM/A2LYBDw5pboHA/aOF5giyzHgE/FcdJI9DZHQKwgMiUiymmlnq8RnlkDaBKgfKhBQA+AcwGvAWaRIDA2xdwMapuZBoFfQbdQ7xQe53SwW9GZ7nQn1TgcLhCXichHxwNLb2nqSzWVGIL9wzeufg6H2FjlMM+gUfdIPkiSC1MlKDrCejsBlWzpmAYc9SnEbwVWaNtvQ6Xvzyi5GMLVgQBaiH+113DFvndmAFvjAx+SgxfmgIWHVBtgo2UyfXSlu9yJSgh3hdxT5KGLRRIvbGJVh2AV/SMQIqhvxz2UK5asyIRsmyRpgTQz21HfUrGYFea3JmrPBWWfb7pkpweo6ex1uS0lo+eJQ2nx3zy7kPL01F+aUf1KTdJTpqtifxL0v+S6YueVLOZ6x15n56uk0i+NeknIfceUb8bIvua6rIJvJlmMjbgUQGiHY63RYwBYUXFDOBc+yUxvLpvStEO4EmNIZQt5CtB15Iceyw1c/nXbqAsV2x/Fc6Je3uG5NtrqFdukNuf7VDMxZWagCxFqTB/RQ/QUqnba3FU9wRzDzX7dtNc8Zht5HuFtrlGvhCi2T+CfHweODzurtbyJTKKiz7E2C99c9h3eAJVlaMF7/LI87ve83r6euCZgqCePiBJ70pjFE315ID+CjAAcZiV47ebjp4AAAAASUVORK5CYII=');
    background-repeat:no-repeat;
    background-position: 0 0;
    margin:10px 0;
    color:#fff;
    height:30px;
}

#schedule .colHeader {
 /* Schedule - textual logo  ("Schedule")*/
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG8AAAAhCAYAAADXl/V8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExOTAyN0ExMDZERkFCNDQwOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5ODI3RUREMjQ0RjgxMUU1QkVDOTg2OURFQjUwODM1OSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5ODI3RUREMTQ0RjgxMUU1QkVDOTg2OURFQjUwODM1OSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjk3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjc3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz552mubAAADeklEQVR42uxa65HaMBA2mfsfUkF8FZyvAnwVxKngoIJwFQAVOKkAqOC4CgwV2FcBpgKgAkeaWWW+bCQ/eOjERN/MDrZYr1da7WpXcq+qqsDjNnEH16GgRNBAUJ/a1oKWgsoT5cckT2InaGGhT0NBX+l6Q324Bb27Q3qeoGFVj5T4utIEZGQnyuhKGbxzckN6d6ZP5HHzBhuPaUZ7OARpvAncHwQ9CurR7wH+G/jhcs94MdzL2F7QdcFifeiHyz3jhczzgpp7D8eM53HDxivgPmH/yzLhiejFICOi0Ns2rPaJv9/AF7aU21bepaHeG7livIgZsKQ6ac34VAa6F5QLygRtiaKGGmxP/PI3NfAoWUruniVWnLdO3p+qCCiGeg7b2yCiPqt+5PTs3PoEEvVCxGq6vaCwocYY19SE+DzWS1sDf1QjNyN5unqzXzUD6zxETG0xa2+q8/hY5axfue06j2eVcva8Nswi9AIZTr/ALkxfE35VGJS831n7N4NcFa7vIXEag178HY9E1wTqN6X33cMuTmTo+1UTlhdN+MwMBoxY+08aXJwAnzXPFcS7MmxZcblryHi5bgFsgQUQ1gtNeL8ksKzaaHSVeLBtPDlAI1YamAx4alxvKjsutV5cs7yxnRS1LhUKClPcgGlLWTtIbnY+kb8+7jSh7Yl5nMzo3ink1WERuLr7/p8Yz2TAlNaq0qJumWadcwkpRKnQFeMpA44o68RMa2RRt9jxiR+56HkKKwqDww9SdmpoLx0x3sKgy8am8So2YDO4f/tA480c97xlcNopvRXP65p2yzA3gNl3yY4Noa5bOuR9Nvp+svG6YAChbnrhDjzDGrhx0HjX7HurOk8XGgeGXQQPR4p0fiQ0plk+pGtuPL79FF4oXTbJ5ZNKhfKjgTds6SkSP87Q0aTf0eaaN2MlQWpY+37B9RrCWE5hLGKJTlccKMNNoM5bBH+f1ZUwgGs2kK8NxitAxylR1620JciQ4/QQ/LsRv7LmevDp395wrLJlxzbqOCYz8I9bHK2YPs+rk5tr9JhreFKD7EQjM+l4JBQw+fwoLLF5JNRjX0zHbJ17C+p36dUpujxFUHubJfOIEDyrgOfQm8oaucdAfxjMdX6nWY/vLDX6PLOsNdYsDSa9UU4cnP9x71no+c/dbzth8fDG8/DG8/DG88bzcBq/BRgAUZ4k3D+HrSAAAAAASUVORK5CYII=");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #fff;
    height: 30px;
    margin: 10px 0;
}

.colHeader small {
    color:#fff;
}
.itemPanelFooter {
    color:#fff;
}
.itemPanelFooter a{
    color:#fff;
    text-decoration: underline
}

.iconContainer {

    height: 20px;
    width:20px;
    padding:0;
}
.canvas {
    background: transparent url(../images/canvas-logo-sm.png) 0 0 no-repeat;
}

.ctools {
    background: transparent url(../images/ct.png) 0 0 no-repeat;
}

.gt {
    padding: 1px 2px 3px 4px;
}

.spinner{
    background: transparent url(../images/spinner-xs.png) 0 0 no-repeat;
    height: 20px;
    width: 20px;
    margin-right:10px;
    margin-top:5px;
}

.itemPanel {
    padding: 5px 10px;
    background-color:rgba(51, 51, 51, 0.8);
    border-radius: 3px;
    margin-bottom: 20px;
}

.date {
    padding-right: 0;
    text-align: right;
}

.calDate {
    padding: 0;
    text-align: right;
}


#todo .overdue .dateSpan{
    color:#c00
}
.footerInfo {
    color: #fff;
    left: 75px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 10px;
}

 .footerReveal { 
    height: 20px;
    width:20px;
    position: absolute;
    right: 0;
    top: 50px;
}

@media (max-width: 768px) {
    .loginContainer {
        padding-top:0;
        padding-right:0;
    }
    .mastHead {
        padding-left:0;
    }
    .navHead .row {
        padding-left:0;
        margin:0;
        padding-right:0;   
    }
}
@media (max-width: 480px) {
    .loginContainer {
        padding-top:0;
        padding-right:0;
    }
    .mastHead {
        padding-left:0;
    }
    .navHead .row {
        padding-left:0;
        margin:0;
        padding-right:0;
    }
    .col1, .col2, .col3 {
        padding:0
    }
    .colHeader {
        padding:0 10px;
        font-size:150%;
    }
    .contentWrapper .dashMessage {
        margin:5px 0;
    } 
    .contentWrapper .dashMessageContainer {
        padding:5px;
    }
    .itemPanel {
        background:none;
    }
    .itemPanel .colHeader, .itemPanel .colHeader small  {
        color:#000;
    }
    .itemPanel .itemPanelFooter {
        color:#000;
    }
    body {
        background-image:none !important;
        background-color: #eee
    }
    #isMobile {
        display:none;
    }
    .itemPanelFooter a {
        color:#000;
        text-decoration: underline
    }
    
    #courses .colHeader {
        /* COURSES - textual logo  ("My Courses") for mobile */
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG8AAAAhCAYAAADXl/V8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExOTAyN0ExMDZERkFCNDQwOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFMTQwRjU2MzM1NjQxMUU1QTc0Njg2QkE3MjQzNkI0MSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFMTQwRjU2MjM1NjQxMUU1QTc0Njg2QkE3MjQzNkI0MSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjg3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjc3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz41uZ/gAAAEoUlEQVR42uxa0VHjQAxdmPyfqQBTAeaHX5sKLlcBSQWQCuJUwF0FhAqACuJ88sWmAkwF8VWQ885phxehXdtJDCREMxqMvV5LetKupM3BYrFQe9pOOjg/P0/Kv7HwbOR4p1vyKbv3WvK4JRlD+qaRMaB7WcmPJevvCtzT05PqkFFS4fldyblw/6rkhN3LWgKvV/INgGYpIZlTj5PtPB1WeLxE0QfJZgC6FYBDSgVH+rbgYaTFDkADYWwbdMXkOjHLfMlnJRfw7OcevP+kKyIvdADdBnXhegzfMzI+fMJKsPXgxWyfa4s4IFPPCqH24L0HMPFEXtvGC/bQVFNHuJeD54cMqPCLeP4dRGPhSXjaXCEkW4TERY0yJiIn1R4duC5LY32RJy2diTAGyWSHC+KJEE0L4HANw+UESsZkCai0sN+f0LWUtaIsCeiH9y0N4d6Q5nsp+RL25xdi883nkudU6nC6oWfPNHZO73UFe90yXeb0N3CBN3XscSErylXFu5FnH8tbil6j7LWjXpxssITpsf/vBWe0xke970m+gCIoA9veMwDvHeDbEkoEL3cAFjqi0xW1AXsnajnZiZjyZ8T4PNkQeMpRqgyonMmE5yhfQaXPBTFGuLVdAngcsXHdpuDFNcErHO8fw/WspaIenUMTZxW16yo0IIOOmFNqj3MmDjtlgoPzVaqQ5nR1WDLhgyF4jW+DdRmr7cj78UHJkjH87xpJRuvydTwJARpdA3i6hnJdIfIiAH+bG8qF5/8rckyz96eOGrXpNxLAIK0D3oxFnGZrsI+mQrQGavlEYJfoEZy1S8lEf009NdnZ2m9Ce96ozrKJkXGqmrXFMmGdjzzdkm2nsVo+UenZbLAiuZoAS/QLIjCgcVFT8CIGXh3jZyz66iQ720z9hgDabDLxZMCaos0JYMez5haQ7scNIk+xZTZk4GdqN6lPNrsGAAvKTKWcYlzTjhdQR1oATQmUd2oAEDHA6oA3BSViAG9TwPWgu6EdBvoMGlC+YKPO2OCPYLNc1T9E1gTWBFpqph7sd2pGT1VbrKrFlmwYvGP1dQ5he1DD3lFEXYJ8XSotfDSE6xHZ7BK6WWNyjAnM6QVvxtboulGH7a+QGXnXkhXFgJqqt75r0qC+SwXwUnD4MXP8wJewuIBqkmxkQq2XNXxXakEp9b6J+y2p08CAPBqraLYG8IYeAKQezZfTHip1a2YsQw4alCkxzXO1pj0DwWFnjtpZ6jwVNefUVZGnHButWjF6mu53I6bALa35KRt3B/NjWv1MHIDCmcOZzJyLFffRR7i2MvYEvTOwX0jjhpRJosNyXSL1dny0NGcVeHqN6OFN6qb7naZCNfeUM314XlBanQsliqaxLufAdH+VIl2z+o2XD1Y+1CchpwkBuAHLXKVaW1vZzY9uUclcySfDruI7BMEkYOfg+UeqeTMXOzUxW4oy5T9Fj8FpXFGPWZ39nWri2LerdMVvNpHvlUWlEjJ1k83+VXD4bH50a8Braz+14W6d4mSfYmyODHiHLc6ffIOuyqdSm+Cd7nh9t9Pg7SNvS8HzJUF7+oAifV1KIZvaUwv0T4ABALtmX+YuxaozAAAAAElFTkSuQmCC');
    }


    #schedule .colHeader {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG8AAAAhCAYAAADXl/V8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExOTAyN0ExMDZERkFCNDQwOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0ODc1MzhDQTQ0RkIxMUU1QkVDOTg2OURFQjUwODM1OSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0ODc1MzhDOTQ0RkIxMUU1QkVDOTg2OURFQjUwODM1OSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjk3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjc3RjExNzQwNzIwNjgxMTkwMjdBMTA2REZBQjQ0MDkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7UpUqQAAADgklEQVR42uxa3XHiMBAWN3k/XwVxKojzwitOBQcVBCo4U8FBBSYVYCoIV4HNI084FZypAKiAk2ZWM5uNhH9iCzGnb2YH28jrlT7tald273w+M4fbRK/f78tjn8uQy4CLB9cyLisuRUP9IegT2HNJDPRpzOUejjfQB6N2b7dbI+TdoQ4vNZ2YcVlwmTbQP4D75UQwQd4L2M3g2dmN2F0b38DjliXtIiDYwTLyfqPzI5cnEU7h90hmo4Nl5IXoXISHHI5zEi58N1x2hk3seezCuYNl5DncMHk5Oh+S/0WZ8AyiyzYDCL1Vw6oH7b2Sdn5FvVX1tQ353MAW8gJCYAGpckbayQz0wGXHJeXyFyQoqcEO0F78xpo2UpfUeyCJFW17SZ/EGUmISiF8vQoC6LPsxw7uXZqeQIK8V3JtWWG2RzBQnsJbUs39qpIkImRH5PkZrLse1F0xmfl0wCKSgLUNSVyAkroCTaT0Gp6XkEF5K5lF2AtEOP2BOuEpwq8kT7Qdkes/NXpluH5AiVOE7KLPeALpEti+GTzvAW0EBJq+d5qwTBXhM9UQGJDrCxhcPAG+K+7Loe1as+tB9WYo46W2CdyTtjmSroC9eqOwVeDRNHligCakNNAR2DSul5Udba0XXZY3ppOiyqVCDmGKEhhX1LVHyc3eJfLd404R2p6Jx4mF+B1C3iUkzNIN3P+FPB2BMaxVhUHbUsU6ZxNiFKV8W8iTBE4g68SZ1sSgbaHlEz+w0fMk1hAGx1cydqa5XlhCXqKxZWOSvDMZsDk6/3NF8uaWe96KNXvRa8Tz6qbdIswN0Oxrs2NjVNetLPI+E31vTF4d4E8HZi13AH/asLGQvC77XqnOU4XGgWYXwcGSIp2+EpKbu2M4puTR7Se/pXRZp5dOKhnKT5q2fkVPEfj1BRt19p1MrnlzUhLEmrXvFR1nKIztIIwFJNGpiyNkuENU5yXs47u6Ag1gRgbyrYS8HNk4A6m7lbZCOsQ4PbLPG/Frk563Zp/3NWlqTrfNRmjwPELclDXfHJ4gvT4McIgGf0TISEjUEPcsamSvdevWBdLvsY9f1R3BPmPrMf7olmZN0oPykkJV3CPeIsi9zYJ4hI86l6P7sDcVF/SemPplMLX5HSYifmahsOeFZK2hYmnQ2Y31hEzzca+pj2577nP324Ujz5Hn4MhzcOQ58hysxz8BBgBulwBlS/L5IQAAAABJRU5ErkJggg==");
    }

    .footerInfo {
        color:#555;
    }
}
